<h3>Jacob, where are you?</h3>

<%= form_for @where do |f| %>
  <%= f.label :location, "I am in..." %>
  <%= f.text_field :location %>
  <%= f.submit "Submit" %>
<% end %>

<br/>
<%= button_to "Nevermind, take me home", root_path, method: :get %>
