<div class="nested-fields">
  <%= f.file_field :image %>
  <%= f.hidden_field :image_cache %>
  <%= f.label :caption %>
  <%= f.text_field :caption %>
  <%= link_to_remove_association "remove photo", f %>
</div>
