<div class="col-xs-3 col-sm-2">
  <nav class="navbar navbar-default navbar-fixed-side">
      <p><%= link_to "Home", root_path %></p>

      <% unless user_signed_in? %>
        <p><%= link_to "Log In", new_user_session_path %></p>
      <% end %>

      <%= render "navbar/user" if user_signed_in? %>
      <%= render "navbar/admin" if admin_signed_in?%>
      <%= render "navbar/signed_in" if signed_in? %>

      <p><%= link_to "Publications", publications_path %></p>
      <p><%= link_to "Download Resume", "/JacobKonikoffResume.pdf" %></p>
  </nav>
</div>
